* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: url(../images/img-background-image.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Section showcase */
.showcase {
	height: 100vh;
	color: black;
	position: relative;
	font-size: 1.2rem;
}

.container {
	max-width: 2100px;
	margin: 0 auto;
	overflow: auto;
	padding: 50px 40px 0 40px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: 45% 33%;
	gap: 10px;
	height: 100%;
}

.grid .wrapper-intro {
	grid-area: 1 / 1 / span 1 / span 1;
	/* background-color: bisque; */
}

.grid .wrapper-contact {
	grid-area: 2 / 1 / span 1 / span 1;
	/* background-color: aquamarine; */
}

.grid .image {
	grid-area: 1 / 2 / span 2 / span 1;
	width: 100%;
	margin-top: auto;
	/* background-color: aqua; */
}

.grid .wrapper-find-me {
	grid-area: 1 / 3 / span 2 / span 1;
	/* background-color: thistle; */
}

/* Horizontal line befor the h2 tag */
.wrapper-intro,
.wrapper-contact {
	position: relative;
}

.title-hr-line {
	margin-left: 2em;
}

.title-hr-line:before {
	content: '';
	position: absolute;
	left: 0;
	margin-top: 0.6em;
	border-bottom: 1px solid black;
	width: 1.5em;
}

/* wrapper-intro */
.wrapper-intro h2 {
	margin-bottom: 100px;
}

.wrapper-intro .txt-hello {
	color: #1e9d9d;
}

.wrapper-intro .txt-name {
	font-family: 'Asul', sans-serif;
	font-size: 5rem;
}

.wrapper-intro .txt-ux {
	font-size: 1.5em;
	font-weight: 700;
}

.wrapper-intro .txt-huge {
	margin-top: 15px;
	max-width: 340px;
}

/* wrapper-contact */
.wrapper-contact {
	color: white;
	margin-top: auto;
	margin-bottom: 20px;
}

.wrapper-contact h2 {
	margin-bottom: 40px;
}

.wrapper-contact .title-hr-line:before {
	border-bottom: 1px solid white;
}

.wrapper-contact a {
	text-decoration: none;
	color: white;
}

.wrapper-contact .wrapper-email-phone div {
	margin-right: 50px;
}

.wrapper-contact .flex {
	display: flex;
	flex-wrap: wrap;
}

/* wrapper-find-me */
.wrapper-find-me {
	margin-top: auto;
	margin-bottom: 20px;
}

.wrapper-find-me h2 {
	writing-mode: vertical-rl;
	margin-bottom: 3em;
	color: white;
}

.wrapper-find-me h2 {
	position: relative;
}

.wrapper-find-me h2::after {
	content: '';
	position: absolute;
	margin-top: 1.2em;
	border-bottom: 1px solid white;
	transform: rotate(90deg); /* IE 9 */
	width: 1.5em;
}

.wrapper-find-me a {
	display: block;
}

.wrapper-find-me .mb {
	margin-bottom: 15px;
}

.wrapper-find-me .wrapper-icon {
	margin-left: 80px;
}

/* Media queries */
@media (max-width: 1048px) {
	.grid .wrapper-intro {
		grid-area: 1 / 1 / span 1 / span 3;
	}

	.wrapper-intro h2 {
		margin-bottom: 50px;
	}

	.grid .wrapper-contact {
		grid-area: 2 / 1 / span 2 / span 2;
	}

	.grid .image {
		grid-area: 2 / 2 / span 2 / span 1;
	}

	.grid .wrapper-find-me {
		grid-area: 2 / 3 / span 2 / span 1;
	}
}

@media (max-width: 760px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.wrapper-contact .title-hr-line:before {
		border-bottom: 1px solid black;
	}

	.grid .wrapper-contact {
		grid-area: 2 / 1 / span 1 / span 1;
		padding-top: 40px;
	}

	.wrapper-email {
		margin-bottom: 10px;
	}

	.wrapper-contact,
	.wrapper-contact a {
		color: black;
	}

	.grid .wrapper-find-me {
		grid-area: 3 / 1 / span 3 / span 3;
	}

	.wrapper-find-me h2 {
		writing-mode: unset;
		display: inline;
		margin-right: 50px;
	}

	.wrapper-find-me h2::after {
		transform: unset; /* IE 9 */
		margin-left: 10px;
		bottom: 13px;
	}

	.wrapper-find-me a {
		display: inline;
	}

	.mr {
		margin-right: 10px;
	}

	.wrapper-find-me .wrapper-icon {
		margin-left: auto;
	}

	.grid .image {
		/* grid-area: 2 / 2 / span 2 / span 3; */
		position: fixed;
		width: 300px;
		bottom: 0;
		right: -40px;
		z-index: -1;
		overflow: hidden;
	}
}

@media (max-width: 520px) {
	body {
		background: url(../images/img-background-mobile.svg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.showcase h2 {
		font-size: 22px;
	}

	.wrapper-intro .txt-name {
		font-family: 'Asul', sans-serif;
		font-size: 40px;
	}

	.wrapper-intro .txt-ux {
		font-size: 20px;
	}

	.wrapper-icon {
		text-align: center;
	}
}
